Flask==2.2.3
flask-babel==4.0.0
paho-mqtt==1.6.1
PyHaier==0.3.2
pymodbus==2.5.3
pyserial==3.5
requests==2.28.2
schedule==1.2.0
termcolor==2.2.0
waitress==2.1.2
flask-simplelogin==0.1.1
urllib3==1.26.18
Werkzeug==2.2.3
w1thermsensor==2.0.0
GitPython==3.1.31
