<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ theme }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Haier{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='bundle.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	    <!--<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>-->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        {% if theme is defined %}
         <link rel="stylesheet" href="{{ url_for('static', filename=theme+'.css') }}" id="theme-style">
        {% else %}
         <link rel="stylesheet" href="{{ url_for('static', filename='light.css') }}" id="theme-style">
        {% endif %}
        <script src="{{ url_for('static', filename='sweetalert2.min.js') }}"></script>
        {% block custom_scripts %}
        {% endblock %}
        <script>
        function updatecheck() {
            $.get('/updatecheck', function(data) {
                var text=data.update;
                var state="info";
                if(text == "Available") {
                    Swal.fire({
					    title: "{{ _('New update available, Do you want install?') }}",
                        showCancelButton: true,
					    confirmButtonText: "{{ _('Install') }}",
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            $.get('/installupdate');
                            Swal.fire({
						    html: "{{ _('Installing update, please wait...') }}",
                                icon: "info",
                                showCloseButton: false,
                                showConfirmButton: false,
                                timer: 60000,
                                timerProgressBar: true,
                                didOpen: () => {
                                    const b = Swal.getHtmlContainer().querySelector('b')
                                    timerInterval = setInterval(() => {
                                        b.textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                willClose: () => {
                                    clearInterval(timerInterval)
                                    window.location.reload();
                                }
                            })

                        }
                    })
                } else {
                Swal.fire({
                    html: text,
                    icon: state,
                    showCloseButton: false,
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: () => {
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                })
                }
            });
        }
        function restart() {
            Swal.fire({
				    title: "{{ _('Restart HaierPi service') }}",
                showCancelButton: true,
				    confirmButtonText: "{{ _('Yes') }}",
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.get('/restart');
                    Swal.fire({
					    html: "{{ _('Restarting service, please wait...') }}",
                        icon: "info",
                        showCloseButton: false,
                        showConfirmButton: false,
                        timer: 30000,
                        timerProgressBar: true,
                        didOpen: () => {
                            const b = Swal.getHtmlContainer().querySelector('b')
                            timerInterval = setInterval(() => {
                                b.textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)
                            window.location.reload();
                        }
                    })
                }
            })
        }
        </script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end d-flex flex-column" id="sidebar-wrapper">
		    <div class="sidebar-heading border-bottom">Haier Pi <sup>{{ version }}</sup></div>
                <div class="list-group list-group-flush mb-auto">
			<a class="list-group-item list-group-item-action p-3" href="/">{{ _('Dashboard') }}</a>
			<a class="list-group-item list-group-item-action p-3" href="/settings">{{ _('Settings') }}</a>
			<a class="list-group-item list-group-item-action p-3" href="/parameters">{{ _('Parameters') }}</a>
			<a class="list-group-item list-group-item-action p-3" href="/scheduler">{{ _('Scheduler') }}</a>
                </div>
                {% if is_logged_in() %}
                <div class="dropdown p-3">
                    <a href="#" class="d-flex align-items-center position-relative link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/static/person.svg" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{ get_username() }}</strong>
                        {% if needrestart == 1 %}
                        <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu text-small shadow p-3" style="">
			    <li><a class="dropdown-item" onclick="changepass()" href="#">{{ _('Change password') }}</a></li>
			    <li><a class="dropdown-item" onclick="updatecheck()" href="#">{{ _('Check for update') }}</a></li>
                        <li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item position-relative" onclick="restart()" href="#">{{ _('Restart') }}
                        {% if needrestart == 1 %}
                            <span class="position-absolute top-50 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
                            {% endif %}
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="/logout">{{ _('Log out') }}</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                    <div class="container-fluid">
			            <button class="navbar-toggler" type="button" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
                    </div>
                </nav>
                <!-- Page content-->

                        {% block page_body %}
                        {% endblock %}
            </div>
        </div>
        <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
        <svg class="bi my-1 iconmoon" width="1em" height="1em"></svg>
	<span class="visually-hidden" id="bd-theme-text">{{ _('Toggle theme') }}</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text" style="">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false" onclick="$('html').attr('data-bs-theme', 'light'); $('#theme-style')[0].href='../static/light.css'; $.post( '/theme', { theme: 'light' } );">
            <svg class="bi me-2 opacity-50 iconsun" width="1em" height="1em"></svg>
	    {{ _('Light') }}
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="true" onclick="$('html').attr('data-bs-theme', 'dark');$('#theme-style')[0].href='../static/dark.css'; $.post( '/theme', { theme: 'dark' } );">
            <svg class="bi me-2 opacity-50 iconmoon" width="1em" height="1em"></use></svg>
	    {{ _('Dark') }}
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
      </ul>
    </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="../static/scripts.js"></script>
    </body>
</html>
