{% extends 'base.html' %}
        {% block custom_scripts %}
	<script>
	    function changepass() {
            (async () => {
                const { value: formValues } = await Swal.fire({
                    title: 'Multiple inputs',
                    html:
                    '<input id="swal-input1" type="password" class="swal2-input">' +
                    '<input id="swal-input2" type="password" class="swal2-input">',
                    focusConfirm: false,
                    preConfirm: () => {
                        pass1=document.getElementById('swal-input1').value
                        pass2=document.getElementById('swal-input2').value
                        if ( pass1==pass2 ) {
                            console.log("ok")
                            $.post('/changepass', {user: "{{ get_username() }}", password: pass1}, function(data) {
                                var text=data.msg;
                                //var state=data.state
                                Swal.fire({
                                    html: text,
                                    icon: "success",
                                    showCloseButton: false,
                                    showConfirmButton: false,
                                    timer: 2000,
                                    timerProgressBar: true,
                                    didOpen: () => {
                                        const b = Swal.getHtmlContainer().querySelector('b')
                                        timerInterval = setInterval(() => {
                                            b.textContent = Swal.getTimerLeft()
                                        }, 100)
                                    },
                                    willClose: () => {
                                        clearInterval(timerInterval)
                                        $.get('/logout', function(data) {location.reload();});
                                    }
                                })
                            });

                        } else {
                            Swal.fire({
                                html: "Password not match",
                                icon: "error",
                                showCloseButton: false,
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: () => {
                                    const b = Swal.getHtmlContainer().querySelector('b')
                                    timerInterval = setInterval(() => {
                                        b.textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                willClose: () => {
                                    clearInterval(timerInterval)
                                }
                            })
                        }
                    }
                    })
            })()
        }

        function getdata() {
            $.get('/getdata', function(data) {
                $("#ttemp").text(data.tank)
                $("#dhwsetpoint").text(data.dhw)
                dhwsetpoint = data.dhw
                $("#hcurve").text(data.hcurve)
                $("#humid").text(data.humid)
                $("#setpoint").text(data.setpoint)
                temp = data.setpoint
                $("#intemp").text(data.intemp)
                $("#outtemp").text(data.outtemp)
                switch(data.pcool) {
                    case "on":
                        if ($("#coolpower")[0].classList.contains("iconon") == false ) {
                                        $("#coolpower")[0].classList.add("iconon")
                                        $("#pcool")[0].setAttribute('onclick','statechange\(\'pcool\',\'off\'\)')
                        }
                        break;
                    case "off":
                        if ($("#coolpower")[0].classList.contains("iconon") == true ) {
                                        $("#coolpower")[0].classList.remove("iconon")
                                        $("#pcool")[0].setAttribute('onclick','statechange\(\'pcool\',\'on\'\)')
                                        }
                        break;
                    default:
                }
                switch(data.pch) {
                    case "on":
                        if ($("#heatpower")[0].classList.contains("iconon") == false ) {
                                        $("#heatpower")[0].classList.add("iconon")
                                        $("#pch")[0].setAttribute('onclick','statechange\(\'pch\',\'off\'\)')
                        }
                        break;
                    case "off":
                        if ($("#heatpower")[0].classList.contains("iconon") == true ) {
                                        $("#heatpower")[0].classList.remove("iconon")
                                        $("#pch")[0].setAttribute('onclick','statechange\(\'pch\',\'on\'\)')
                                        }
                        break;
                    default:
                }
                switch(data.pdhw) {
                    case "on":
                        if ($("#dhwpower")[0].classList.contains("iconon") == false ) {
                                        $("#dhwpower")[0].classList.add("iconon")
                                        $("#pdhw")[0].setAttribute('onclick','statechange\(\'pdhw\',\'off\'\)')
                        }
                        break;
                    case "off":
                        if ($("#heatpower")[0].classList.contains("iconon") == true ) {
                                        $("#dhwpower")[0].classList.remove("iconon")
                                        $("#pdhw")[0].setAttribute('onclick','statechange\(\'pdhw\',\'on\'\)')
                                        }
                        break;
                    default:
                }
            });
        }
            function updatecheck() {
            $.get('/updatecheck', function(data) {
                var text=data.update;
                var state="info";
                if(text == "Availible") {
                    Swal.fire({
                      title: 'Do you want to save the changes?',
                      showDenyButton: true,
                      showCancelButton: true,
                      confirmButtonText: 'Save',
                      denyButtonText: `Don't save`,
                    }).then((result) => {
                      /* Read more about isConfirmed, isDenied below */
                      if (result.isConfirmed) {
                        Swal.fire('Saved!', '', 'success')
                      } else if (result.isDenied) {
                        Swal.fire('Changes are not saved', '', 'info')
                      }
                    })
                } else {
                Swal.fire({
                    html: text,
                    icon: state,
                    showCloseButton: false,
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: () => {
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                })
                }
            });
        }
        function statechange(mode, value) {
            $("#"+mode)[0].classList.add("spinn")
            $("#"+mode)[0].classList.add("iconspinner")
            $.post('/statechange', {mode: mode, value: value}, function(data) {
                var text=data.msg;
                var state=data.state
                Swal.fire({
                    html: text,
                    icon: state,
                    showCloseButton: false,
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: () => {
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                })
                $("#"+mode)[0].classList.remove("spinn")
                $("#"+mode)[0].classList.remove("iconspinner")
            });
        }

        function tempchange(which) {
        if (which ==  "heat") {
            minimum=12
            maximum=30
            stepp=0.5
            inputval=temp
        }
        if (which == "dhw") {
            minimum=30
            maximum=55
            stepp=1
            inputval=dhwsetpoint
        }
            (async () => {
                const { value: inputValue } = await Swal.fire({
                    title: 'Change temperature',
                    input: 'range',
                    inputAttributes: {
                        min: minimum,
                        max: maximum,
                        step: stepp
                    },
                    inputValue: inputval
                })
                if (confirm) {
                    $("#"+which)[0].classList.add("spinn")
                    $("#"+which)[0].classList.add("iconspinner")
                    var data = inputValue
                    $.post('/tempchange', {which: which, value: data}, function(data) {
                        var text=data.msg;
                        var state=data.state
                        Swal.fire({
                            html: text,
                            icon: state,
                            showCloseButton: false,
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: () => {
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        })
                    $("#"+which)[0].classList.remove("spinn")
                    $("#"+which)[0].classList.remove("iconspinner")
                    });
                }


            })()
        }


        setInterval(getdata, 2000);
	</script>
        {% endblock %}
                    {% block page_body %}
		            <div class="row gx-4 gx-lg-5">
                        <div class="col-md-4 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title"><i class="icoheat"></i> Heating - setpoint: <b id="setpoint">N.A.</b>&#8451;</h2>
                                    <p class="card-text">Inside temp: <b id="intemp">N.A.</b>&#8451;</p>
                                    <p class="card-text" >Outside temp: <b id="outtemp">N.A.</b>&#8451;</p>
                                    <p class="card-text" >Heating-curve: <b id="hcurve">N.A.</b>&#8451;</p>
                                </div>
                                <div class="card-footer"><a class="btn btn-primary btn-lm float-sm-start" id="heat" onclick="tempchange('heat')" href="#!">Change</a>
                                    <a class="float-sm-end" id="pch" onclick="statechange('pch','on')" href="#"><i id="heatpower" class="iconpower"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title"><i class="icondhw"></i> DHW - setpoint: <b id="dhwsetpoint">N.A.</b>&#8451;</h2>
                                    <p class="card-text" >Tank temp: <b id="ttemp">N.A.</b>&#8451;</p>
                                </div>
                                <div class="card-footer"><a class="btn btn-primary btn-lm float-sm-start" id="dhw" onclick="tempchange('dhw')" href="#!">Change</a>
                                        <a class="float-sm-end" id="pdhw" onclick="statechange('pdhw','on')" href="#"><i id="dhwpower" class="iconpower"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title"><i class="iconcool"></i>Cooling</h2>
                                    <p class="card-text">Inside humidity: <b id="humid">N.A.</b>%</p>

                                </div>
                                <div class="card-footer"><a class="btn btn-primary btn-lm float-sm-start" id="cool" onclick="tempchange('cool')" href="#!">Change</a>
                                    <a class="float-sm-end" id="pcool" onclick="statechange('pcool','on')" href="#"><i id="coolpower" class="iconpower"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}