{% extends 'base.html' %}
        {% block custom_scripts %}
	<script>
	    function changepass() {
            (async () => {
                const { value: formValues } = await Swal.fire({
					title: "{{ _('Enter new password') }}",
                    html:
					'<div class="form-floating"><input autocapitalize="none" type="password" class="form-control" id="swal-input1" name="swal-input1" placeholder="{{ _('New Password') }}"><label for="swal-input1">"{{ _('New password') }}"</label></div>' +
					'<div class="form-floating"><input autocapitalize="none" type="password" class="form-control" id="swal-input2" name="swal-input2" placeholder="{{ _('Confirm Password') }}"><label for="swal-input2">{{ _('Confirm password') }}</label></div>',
                    focusConfirm: false,
                    preConfirm: () => {
                        pass1=document.getElementById('swal-input1').value
                        pass2=document.getElementById('swal-input2').value
                        if ( pass1==pass2 ) {
                            console.log("ok")
                            $.post('/changepass', {user: "{{ get_username() }}", password: pass1}, function(data) {
                                var text=data.msg;
                                //var state=data.state
                                Swal.fire({
                                    html: text,
                                    icon: "success",
                                    showCloseButton: false,
                                    showConfirmButton: false,
                                    timer: 2000,
                                    timerProgressBar: true,
                                    didOpen: () => {
                                        const b = Swal.getHtmlContainer().querySelector('b')
                                        timerInterval = setInterval(() => {
                                            b.textContent = Swal.getTimerLeft()
                                        }, 100)
                                    },
                                    willClose: () => {
                                        clearInterval(timerInterval)
                                        $.get('/logout', function(data) {location.reload();});
                                    }
                                })
                            });
                        } else {
                            Swal.fire({
						    html: "{{ _('Password not match') }}",
                                icon: "error",
                                showCloseButton: false,
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: () => {
                                    const b = Swal.getHtmlContainer().querySelector('b')
                                    timerInterval = setInterval(() => {
                                        b.textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                willClose: () => {
                                    clearInterval(timerInterval)
                                }
                            })
                        }
                    }
                    })
            })()
        }

        function getdata() {
            $.get('/getdata', function(data) {
                $("#ttemp").text(data.tank)
                $("#dhwsetpoint").text(data.dhw)
                dhwsetpoint = data.dhw
                $("#hcurve").text(data.hcurve)
                $("#humid").text(data.humid)
                $("#setpoint").text(data.setpoint)
                temp = data.setpoint
                $("#intemp").text(data.intemp)
                $("#outtemp").text(data.outtemp)
		if(data.heatingcurve == "directly" ) {
					minch=25
					maxch=55
				} else {
					minch=12
					maxch=30
				}
		$("#ltemp").text(data.ltemp)
				    $("#preset").text(data.presetch)
				    $("#flimit").text(data.flimit)
		if(data.flimit == "manual") {
			$("#flimitchange").show()
			$("#flimitchange").val(data.flimiton)
				} else if (data.flimit == "auto"){
					$("#flimitauto").show()
						}
		if(data.presetch == "manual") {
			$("#presetchange").show()
			$("#presetchange").val(data.mode)
				} else if (data.presetch == "auto"){
					$("#presetauto").show();
					$("#presetquiet").text(data.presetquiet);
					$("#presetturbo").text(data.presetturbo);
					switch(data.mode) {
					case "quiet":
							$("#quiet").html("<b>QUIET</b>");
							$("#eco").text("ECO");
							$("#turbo").text("TURBO");
							break;
          case "eco":
							$("#quiet").text("QUIET");
							$("#eco").html("<b>ECO</b>");
							$("#turbo").text("TURBO");
							break;
					case "turbo":
							$("#quiet").text("QUIET");
							$("#eco").text("ECO");
							$("#turbo").html("<b>TURBO</b>");
							break;
          default:
					}
				}
		switch(data.flimiton) {
			case "0":
						if($("#flrelay").text() != "OFF") {
							$("#flrelay").text("OFF")
								}
						break;
			case "1":
						if($("#flrelay").text() != "ON") {
							$("#flrelay").text("ON")
						}
						break;
			default:
				}
                switch(data.pcool) {
                    case "on":
                        if ($("#coolpower")[0].classList.contains("iconon") == false ) {
                                        $("#coolpower")[0].classList.add("iconon")
                                        $("#pcool")[0].setAttribute('onclick','statechange\(\'pcool\',\'off\'\)')
                        }
                        break;
                    case "off":
                        if ($("#coolpower")[0].classList.contains("iconon") == true ) {
                                        $("#coolpower")[0].classList.remove("iconon")
                                        $("#pcool")[0].setAttribute('onclick','statechange\(\'pcool\',\'on\'\)')
                                        }
                        break;
                    default:
                }
		switch(data.heatdemand){
			case "0":
						if($(".icoheat").css("background-color") == "rgb(255, 132, 132)") {
						$( ".icoheat" ).css( "background-color", "#848484" );
						}
			break;
			case "1":
						if($(".icoheat").css("background-color") == "rgb(132, 132, 132)") {
						$(".icoheat").css("background-color", "#ff8484" );
						}
			break;
			default:
				}
                switch(data.pch) {
                    case "on":
                        if ($("#heatpower")[0].classList.contains("iconon") == false ) {
                                        $("#heatpower")[0].classList.add("iconon")
                                        $("#pch")[0].setAttribute('onclick','statechange\(\'pch\',\'off\'\)')
                        }
                        break;
                    case "off":
                        if ($("#heatpower")[0].classList.contains("iconon") == true ) {
                                        $("#heatpower")[0].classList.remove("iconon")
                                        $("#pch")[0].setAttribute('onclick','statechange\(\'pch\',\'on\'\)')
                                        }
                        break;
                    default:
                }
                switch(data.pdhw) {
                    case "on":
                        if ($("#dhwpower")[0].classList.contains("iconon") == false ) {
                                        $("#dhwpower")[0].classList.add("iconon")
                                        $("#pdhw")[0].setAttribute('onclick','statechange\(\'pdhw\',\'off\'\)')
                        }
                        break;
                    case "off":
                        if ($("#heatpower")[0].classList.contains("iconon") == true ) {
                                        $("#dhwpower")[0].classList.remove("iconon")
                                        $("#pdhw")[0].setAttribute('onclick','statechange\(\'pdhw\',\'on\'\)')
                                        }
                        break;
                    default:
                }
            });
        }
	function modechange(newmode) {
                $.post('/modechange', {newmode}, function(data) {
                        var text=data.msg;
                        var state=data.state
                        Swal.fire({
                                html: text,
                                icon: state,
                                showCloseButton: false,
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: () => {
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                                                })
                        });
			}
        function flrchange(newmode) {
                $.post('/flrchange', {newmode}, function(data) {
                        var text=data.msg;
                        var state=data.state
                        Swal.fire({
                                html: text,
                                icon: state,
                                showCloseButton: false,
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: () => {
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                                                })
                        });
                        }

        function statechange(mode, value) {
            $("#"+mode)[0].classList.add("spinn")
            $("#"+mode)[0].classList.add("iconspinner")
            $.post('/statechange', {mode: mode, value: value}, function(data) {
                var text=data.msg;
                var state=data.state
                Swal.fire({
                    html: text,
                    icon: state,
                    showCloseButton: false,
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: () => {
                        const b = Swal.getHtmlContainer().querySelector('b')
                        timerInterval = setInterval(() => {
                            b.textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                })
                $("#"+mode)[0].classList.remove("spinn")
                $("#"+mode)[0].classList.remove("iconspinner")
            });
        }

        function tempchange(which, directly) {
        if (which ==  "heat") {
            minimum=minch
            maximum=maxch
            stepp=0.5
            inputval=temp
        }
        if (which == "dhw") {
            minimum=30
            maximum=55
            stepp=1
            inputval=dhwsetpoint
        }
            (async () => {
                const { value: inputValue } = await Swal.fire({
					title: "{{ _('Change temperature') }}",
                    input: 'range',
                    inputAttributes: {
                        min: minimum,
                        max: maximum,
                        step: stepp
                    },
                    inputValue: inputval
                })
                if (confirm) {
                    $("#"+which)[0].classList.add("spinn")
                    $("#"+which)[0].classList.add("iconspinner")
                    var data = inputValue
                    $.post('/tempchange', {which: which, value: data, directly: directly}, function(data) {
                        var text=data.msg;
                        var state=data.state
                        Swal.fire({
                            html: text,
                            icon: state,
                            showCloseButton: false,
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: () => {
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        })
                    $("#"+which)[0].classList.remove("spinn")
                    $("#"+which)[0].classList.remove("iconspinner")
                    });
                }


            })()
        }


        setInterval(getdata, 2000);
	</script>
        {% endblock %}
{% block page_body %}
                <div class="container-fluid px-lg-5 py-lg-3">
		            <div class="row gx-4 gx-lg-5">
                        <div class="col-md-4 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
					<h2 class="card-title"><i class="icoheat"></i>{{ _('Heating - setpoint: ') }}<b id="setpoint">N.A.</b>&#8451;</h2>
					<p class="card-text">{{ _('Inside temp: ') }}<b id="intemp">N.A.</b>&#8451;</p>
					<p class="card-text" >{{ _('Outside temp: ') }}<b id="outtemp">N.A.</b>&#8451;{% if outsidetemp == 'openmeteo' %} <a href="https://open-meteo.com/">Weather data by Open-Meteo.com</a>{% endif %}</p>
					<p class="card-text" >{{ _('Heating-curve: ') }}<b id="hcurve">N.A.</b>&#8451;</p>
                                </div>
				<div class="card-footer"><a class="btn btn-primary btn-lm float-sm-start" id="heat" onclick="tempchange('heat', '0')" href="#!">{{ _('Change') }}</a>
                                    <a class="float-sm-end" id="pch" onclick="statechange('pch','on')" href="#"><i id="heatpower" class="iconpower"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title">
					    <!--<div class="icondhw2"><img class="wrap-image2" id="wrap-image2" ></div>--> <i class="icondhw"></i>{{ _('DHW - setpoint: ') }}<b id="dhwsetpoint">N.A.</b>&#8451;</h2>
				    <p class="card-text" >{{ _('Tank temp: ') }}<b id="ttemp">N.A.</b>&#8451;</p>
                                </div>
				<div class="card-footer"><a class="btn btn-primary btn-lm float-sm-start" id="dhw" onclick="tempchange('dhw', '1')" href="#!">{{ _('Change') }}</a>
                                        <a class="float-sm-end" id="pdhw" onclick="statechange('pdhw','on')" href="#"><i id="dhwpower" class="iconpower"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
					<h2 class="card-title"><i class="iconcool"></i>{{ _('Cooling') }}</h2>
					<p class="card-text">{{ _('Inside humidity: ') }}<b id="humid">N.A.</b>%</p>

                                </div>
				<div class="card-footer"><a class="btn btn-primary btn-lm float-sm-start" id="cool" onclick="tempchange('cool')" href="#!">{{ _('Change') }}</a>
                                    <a class="float-sm-end" id="pcool" onclick="statechange('pcool','on')" href="#"><i id="coolpower" class="iconpower"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid px-lg-5 py-lg-3">
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-md-6 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
						<h2 class="card-title">{{ _('Frequency limit: - ') }}<b id="flimit">N.A.</b></h2>
                                        </div>
                                        <div class="col-auto">
                                            <div class="custom-control custom-switch">
						<form method="POST">
                                                    <select class="form-select" aria-label="flimitchange" id="flimitchange" style="display: none;" name="flimitchange" onchange="flrchange($('#flimitchange').val())">
                                                        <option value="1">ON</option>
                                                        <option value="0">OFF</option>
                                                    </select>
                                                    <span class="custom-control-label"></span>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
				                                        <div id="flimitauto" style="display: none;">
										<p class="card-text">{{ _('Frequency limit temp: ')}}<b id="ltemp">N.A.</b>℃</p>
										<p class="card-text">{{ _('Relay status: ') }}<b id="flrelay">N.A.</b></p>
									</div>
                                </div>
                                <div class="card-footer">
					<a class="btn btn-primary btn-lm float-sm-start" href="/settings#settings-hcurve">{{ _('Settings') }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
						<h2 class="card-title">{{ _('Preset change - ') }}<b id="preset">N.A.</b></h2>
                                        </div>
                                        <div class="col-auto">
                                            <div class="custom-control custom-switch">
                                                <form method="POST">
                                                    <select class="form-select" aria-label="presetchange" id="presetchange" style="display: none;" name="presetchange" onchange="modechange($('#presetchange').val())">
                                                        <option value="quiet">QUIET</option>
                                                        <option value="eco">ECO</option>
                                                        <option value="turbo">TURBO</option>
                                                    </select>
                                                    <span class="custom-control-label"></span>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
				    <div id="presetauto" style="display: none;">
                                    <div class="row"><div class="col"><p class="card-text" id="quiet">QUIET </p></div><div class="col">&gt;</div>
					    <div class="col"><b id=presetquiet></b> ℃
</div></div>
                                    <div class="row"><div class="col"><p class="card-text" id="eco">ECO </p></div></div>
				    <div class="row"><div class="col"><p class="card-text" id="turbo">TURBO</p></div><div class="col"> &lt; </div><div class="col"><b id="presetturbo"></b>
℃
					    </div>
</div></div>
                                </div>
                                <div class="card-footer">
					<a class="btn btn-primary btn-lm float-sm-start"  href="/settings#settings-hcurve">{{ _('Settings') }}</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
