{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block custom_scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Some basic CSS styles for the template */
        p {
                margin: 0px;
        }
        h1 {
            color: #333;
        }
        .journal-entry {
            background-color: #cde8cd;
            margin-bottom: 5px;
            transition: background-color 0.5s ease-in-out;
        }
        .journal-entry.fadeout {
            background-color: transparent;
            transition: background-color 5s ease-in-out;
        }
    </style>
		    <script>
			    function download_log(){
				const blob= new Blob([$('#journal')[0].innerText],{type: 'text/plain'});
				const fileUrl = URL.createObjectURL(blob);
				const link = document.createElement('a');
				link.download = 'journal.txt';
				link.href=fileUrl;
				link.click();
				}
		    </script>
				    <script>
//			form.addEventListener('submit', () => {
//    			if(document.getElementById("use_mqtt").checked) {
//        			document.getElementById('use_mqtt_hidden').disabled = true;
//			    }
//			})
		    </script>
		    {% if saved == '1' %}
				    <script>
					    function onloadsave() {
let timerInterval
                            Swal.fire({
                                html: "Changes saved",
                                icon: "success",
                                showCloseButton: false,
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: () => {
                                    const b = Swal.getHtmlContainer().querySelector('b')
                                    timerInterval = setInterval(() => {
                                        b.textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                willClose: () => {
                                    clearInterval(timerInterval)
                                }
                            })

					    }
window.onload = onloadsave;
				    </script>
				    {% endif %}
{% endblock %}
{% block page_body %}
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="h3 mb-4 page-title">Settings</h2>
        <div class="my-10">
            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-3" id="settings" role="tablist">
                <li class="nav-item" role="presentation">
		            <a class="nav-link active" id="settings-general" data-bs-toggle="tab" data-bs-target="#settings-general-tab" role="tab" aria-controls="settings-general-tab" aria-selected="true" href="#settings-general-tab">General</a>
                </li>
                <li class="nav-item" role="presentation">
		            <a class="nav-link" id="settings-hcurve" data-bs-toggle="tab" data-bs-target="#settings-hcurve-tab" role="tab" aria-controls="settings-hcurve-tab" aria-selected="true" href="#hcurve-general-tab">Heating/Cooling</a>
                </li>
                <li class="nav-item" role="presentation">
			<a class="nav-link" id="settings-ha" data-bs-toggle="tab" data-bs-target="#settings-ha-tab" role="tab" aria-controls="settings-ha-tab" aria-selected="false" href="#settings-ha-tab">Home Assistant</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="settings-mqtt" data-bs-toggle="tab" data-bs-target="#settings-mqtt-tab" role="tab" aria-controls="settings-mqtt-tab" aria-selected="false" href="#settings-mqtt-tab">MQTT</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="settings-system" data-bs-toggle="tab" data-bs-target="#settings-system-tab" role="tab" aria-controls="settings-system-tab" aria-selected="false" href="#settings-system-tab">System</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link disabled" id="settings-tuya" data-bs-toggle="tab" data-bs-target="#settings-tuya-tab" role="tab" aria-controls="settings-tuya-tab" aria-selected="false" href="#settings-tuya-tab">Tuya</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="settings-logs" data-bs-toggle="tab" data-bs-target="#settings-logs-tab" role="tab" aria-controls="settings-logs-tab" aria-selected="false" href="#settings-logs-tab">Logs</a>
                </li>

            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="settings-general-tab" role="tabpanel" aria-labelledby="settings-general-tab">
                    <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <form method="POST">
                                <strong class="mb-0">Inside temperture sensor</strong>
                                <p class="text-muted mb-0">What temperature sensor you using (ha - for home assistant entity, builtin - for physically connect DHT22 sensor</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <select class="form-select" aria-label="insidetemp" name="SETTINGS$insidetemp" value="{{ insidetemp }}">
                                        <option value="ha"{% if insidetemp == 'ha' %} selected {% endif %}>HA</option>
                                        <option value="builtin"{% if insidetemp == 'builtin' %} selected {% endif %}>Builtin</option>
                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Outside temperature sensor</strong>
                                <p class="text-muted mb-0">What temperature sensor you using (ha - for home assistant entity, builtin - for physically connect DS18b20 sensor</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <select class="form-select" aria-label="outsidetemp" name="SETTINGS$outsidetemp" value="{{ outsidetemp }}">
                                        <option value="ha"{% if outsidetemp == 'ha' %} selected {% endif %}>HA</option>
                                        <option value="builtin"{% if outsidetemp == 'builtin' %} selected {% endif %}>Builtin</option>
                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Inside humidity sensor</strong>
                                <p class="text-muted mb-0">What humidity sensor you using (ha - for home assistant entity, builtin - for physically connect DHT22 sensor</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <select class="form-select" aria-label="humidity" name="SETTINGS$humidity" value="{{ humidity }}">
                                        <option value="ha"{% if humidity == 'ha' %} selected {% endif %}>HA</option>
                                        <option value="builtin"{% if humidity == 'builtin' %} selected {% endif %}>Builtin</option>
                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <button type="submit" class="btn btn-primary">Save</button></form>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings-hcurve-tab" role="tabpanel" aria-labelledby="settings-hcurve-tab">
                    <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Heating curve type</strong>
                                <p class="text-muted mb-0">What type of curve you want to use</p>
                            </div>
                            <div class="col-auto">
				    <div class="custom-control custom-switch"><form method="POST">
                                    <select class="form-select" aria-label="heatingcurve" name="SETTINGS$heatingcurve" value="{{ heatingcurve }}">
                                        <option value="auto"{% if heatingcurve == 'auto' %} selected {% endif %}>Auto</option>
                                        <option value="manual"{% if heatingcurve == 'manual' %} selected {% endif %}>Manual</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Heating curve calculation frequency</strong>
                                <p class="text-muted mb-0">Frequency in minutes how often heating curve should be recalculate</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="timeout" name="SETTINGS$heizfreq" aria-describedby="timeout" value="{{ timeout }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Heating curve slope</strong>
                                <p class="text-muted mb-0">heating curve slope</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="slope" name="SETTINGS$hcslope" aria-describedby="slope" step="0.1" onchange="recalc()" value="{{ slope }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Heating curve parallel shift</strong>
                                <p class="text-muted mb-0">Heating curve parallel shift</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="pshift" name="SETTINGS$hcpshift" aria-describedby="pshift" onchange="recalc()" value="{{ pshift }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Heating curve amplification</strong>
                                <p class="text-muted mb-0">Heating curve amplification</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="hcamp" name="SETTINGS$hcamp" aria-describedby="hcamp" onchange="recalc()" value="{{ hcamp }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Heating curve chart</strong>
                                <p class="text-muted mb-0">Show charts with all cheating curve</p>
                                </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#chartdiv" aria-expanded="false" aria-controls="chartdiv">Show</button>
                                 </div>
                        <div id="chartdiv" class="collapse">
				<p><label for="tempRange" id="customtemp" class="form-label">Inside temp: 21</label></p>
				<input type="range" class="form-range" min="12" max="30" id="tempRange" onchange="recalc();">
                                <canvas id="hcurvechart"></canvas>

                            </div>
                        </div>
                    </div>
		    <button type="submit" class="btn btn-primary">Save</button></form>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings-ha-tab" role="tabpanel" aria-labelledby="settings-ha-tab">
                  <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Home Assistant address</strong>
                                <p class="text-muted mb-0">Home assistant IP or domainname address</p>
                            </div>
			    <div class="col-auto"><form method="POST">
                                <div class="custom-control custom-switch">
		    <input type="text" class="form-control" id="haaddr" name="HOMEASSISTANT$HAADDR" aria-describedby="haaddr" value="{{ haaddr }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Home Assistant port</strong>
                            <p class="text-muted mb-0">Home Assistant port (default 8123)</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                    <input type="text" class="form-control" id="haport" name="HOMEASSISTANT$HAPORT" aria-describedby="haport" value="{{ haport }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Home Assistant Access Key</strong>
                            <p class="text-muted mb-0">Home Assistant Access Token Key. You can generate key in user settings in HA</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                    <input type="password" class="form-control" id="hakey" name="HOMEASSISTANT$KEY" aria-describedby="hakey" value="{{ hakey }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Inside temperature entity</strong>
                            <p class="text-muted mb-0">Entity name of inside temperature sensor (e.g. sensor.inside_temp)</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="insidesensor" name="HOMEASSISTANT$insidesensor" aria-describedby="insidesensor" value="{{ insidesensor }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Outside temperature entity</strong>
                            <p class="text-muted mb-0">Entity name of outside temperature sensor (e.g. sensor.outside_temp)</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="outsidesensor" name="HOMEASSISTANT$outsidesensor" aria-describedby="outsidesensor" value="{{ outsidesensor }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">Inside humidity entity</strong>
                            <p class="text-muted mb-0">Entity name of inside humidity sensor (e.g. sensor.inside_humidity)</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="humiditysensor" name="HOMEASSISTANT$humiditysensor" aria-describedby="humiditysensor" value="{{ humiditysensor }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
		</div><button type="submit" class="btn btn-primary">Save</button></form>
            </div>
              </div>
                <div class="tab-pane fade" id="settings-mqtt-tab" role="tabpanel" aria-labelledby="settings-mqtt-tab">
                    <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Using MQTT</strong>
                                <p class="text-muted mb-0">Do you want to use mqtt</p>
                            </div>
                            <div class="col-auto">
				    <div class="custom-control custom-switch"><form method="POST">
						    <input type="hidden" id="use_mqtt_hidden" value="{{ use_mqtt }}" name="MQTT$mqtt">
					  <input type="checkbox" class="form-check-input" id="use_mqtt" value="1" onclick="this.previousSibling.previousSibling.value=1-this.previousSibling.previousSibling.value" aria-describedby="use_mqtt" {%if use_mqtt == '1' %} checked {% endif %}>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">MQTT Address</strong>
                                <p class="text-muted mb-0">MQTT Broker ip or hostname address</p>
                            </div>
                            <div class="col-auto">
                                <div class="curol custom-switch">
                                    <input type="text" class="form-control" id="mqtt_broker_addr" name="MQTT$address" aria-describedby="mqtt_broker_addr" value="{{ mqtt_broker_addr }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">MQTT port</strong>
                                <p class="text-muted mb-0">MQTT Broker port (default 1883)</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="mqtt_broker_port" name="MQTT$port" aria-describedby="mqtt_broker_port" value="{{ mqtt_broker_port }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Main topic</strong>
                                <p class="text-muted mb-0">Main topic for publishing messages</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="mqtt_topic" name="MQTT$main_topic" aria-describedby="mqtt_topic" value="{{ mqtt_topic }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Username</strong>
                                <p class="text-muted mb-0">MQTT Broker account username</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="mqtt_username" name="MQTT$username" aria-describedby="mqtt_username" value="{{ mqtt_username }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Password</strong>
                                <p class="text-muted mb-0">MQTT Broker account password</p>
                            </div>
                                <div class="col-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="password" class="form-control" id="mqtt_password" name="MQTT$password" aria-describedby="mqtt_password" value="{{ mqtt_password }}">
                                        <span class="custom-control-label"></span>
                                    </div>
                                </div>
                            </div>
		    </div><button type="submit" class="btn btn-primary">Save</button></form>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings-system-tab" role="tabpanel" aria-labelledby="settings-system-tab">
                <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
				<div class="col"><form method="POST">
                                <strong class="mb-0">Bind address</strong>
                                <p class="text-muted mb-0">On which address the script should run (default 0.0.0.0)</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="bindaddr" name="DEFAULT$bindaddress" aria-describedby="bindaddr" value="{{ bindaddr }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Bind port</strong>
                                <p class="text-muted mb-0">On which port the script should run (default 4000)</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="bindport" name="DEFAULT$bindport" aria-describedby="bindport" value="{{ bindport }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>                 </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Serial port</strong>
                                <p class="text-muted mb-0">On which port you connect modbus converter</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="modbusdev" name="DEFAULT$modbusdev" aria-describedby="modbusdev" value="{{ modbusdev }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Modbus GPIO</strong>
                                <p class="text-muted mb-0">What GPIO pin use for modbus relay</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="modbuspin" name="GPIO$modbus" aria-describedby="modbuspin" value="{{ modbuspin }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Frequency limit GPIO</strong>
                                <p class="text-muted mb-0">What GPIO pin you use for frequency limit relay</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="freqlimitpin" name="GPIO$freqlimit" aria-describedby="freqlimitpin" value="{{ freqlimitpin }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Heat demand GPIO</strong>
                                <p class="text-muted mb-0">What GPIO pin you use for heat demand relay</p>
                            </div>
                                <div class="col-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="heatdemandpin" name="GPIO$heatdemand" aria-describedby="heatdemandpin" value="{{ heatdemandpin }}">
                                        <span class="custom-control-label"></span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="list-group-item">
                     <div class="row align-items-center">
                            <div class="col">
                                <strong class="mb-0">Cool demand GPIO</strong>
                                <p class="text-muted mb-0">What GPIO pin you use for cool demand relay</p>
                            </div>
                                <div class="col-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="cooldemandpin" name="GPIO$cooldemand" aria-describedby="cooldemandpin" value="{{ cooldemandpin }}">
                                        <span class="custom-control-label"></span>
                                    </div>
                                </div>
                            </div>
		    </div><button type="submit" class="btn btn-primary">Save</button></form>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings-logs-tab" role="tabpanel" aria-labelledby="settings-logs-tab">
                    <div class="list-group mb-5 sha                    <div class="list-group-item">
                        <div class="row align-items-center" id="journal">

			</div>
                        <script>
        var journalDiv = document.getElementById('journal');
				var eventSource = new EventSource("http://{{ logserver }}:5000/stream");

        eventSource.onmessage = function(event) {
            var line = document.createElement('p');
            line.className = 'journal-entry';
            line.innerHTML = event.data;
            journalDiv.appendChild(line);

            setTimeout(function() {
                line.classList.add('fadeout');
            }, 2000);
        };
    </script>

		    </div><button onclick="download_log();" class="btn btn-primary">Save to file</button>
                    </div>
                </div>

              </div>
            </div>
        </div>
    </div>

</div>
<script>
var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];
/* large line chart */
var chLine = document.getElementById('hcurvechart');
var settemp = {{ settemp }};
var insidetemp = document.getElementById("tempRange").value;
var outsidetemp = {{ outtemp }};

var labels = ["-20", "-19", "-18", "-17", "-16", "-15", "-14", "-13", "-12","-11","-10","-9","-8","-7","-6","-5","-4","-3","-2","-1","0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20"];
var data = [];
for (const element of labels) {
	const t1=(outsidetemp/(320-(outsidetemp*4)))
        const t2=Math.pow(settemp,t1)
		const slope= {{ slope }}
		const ps= {{ pshift }}
		const amp= {{ hcamp }}
        const heatcurve = Math.round(((0.55*slope*t2)*(((-element+20)*2)+settemp+ps)+((settemp-insidetemp)*amp))*2)/2
		data.push(heatcurve);
		}
var data1 = [];
for (const element of labels) {
	calc=(settemp+(0.5*20)*Math.pow(((settemp-element)/20), 0.7));
	data1.push(calc);
}
var data2 = [];
for (const element of labels) {
        calc=(settemp+(0.7*20)*Math.pow(((settemp-element)/20), 0.7));
        data2.push(calc);
}
var data3 = [];
for (const element of labels) {
        calc=(settemp+(0.9*20)*Math.pow(((settemp-element)/20), 0.7));
        data3.push(calc);
}


var chartData = {
  labels: labels,
  datasets: [{
    label: "Auto",
    data: data,
    backgroundColor: 'transparent',
    borderColor: colors[0],
    borderWidth: 4,
    pointBackgroundColor: colors[0]
  },
   {
     label: "1",
     data: data1,
     backgroundColor: 'transparent',
     borderColor: colors[1],
     borderWidth: 4,
     pointBackgroundColor: colors[1]
   },
   {
     label: "2",
     data: data2,
     backgroundColor: 'transparent',
     borderColor: colors[2],
     borderWidth: 4,
     pointBackgroundColor: colors[2]
   },
   {
     label: "3",
     data: data3,
     backgroundColor: 'transparent',
     borderColor: colors[3],
     borderWidth: 4,
     pointBackgroundColor: colors[3]
   }

  ]
};
if (chLine) {
  var myChart = new Chart(chLine, {
  type: 'line',
  data: chartData,
  options: {
    scales: {
      xAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false
    },
    responsive: true
  }
  });
}

function recalc() {
var insidetemp = document.getElementById("tempRange").value;
var outsidetemp = {{ outtemp }};
document.getElementById("customtemp").innerHTML="Inside temp: "+insidetemp;
var data = [];
for (const element of labels) {
        const t1=(outsidetemp/(320-(outsidetemp*4)))
        const t2=Math.pow(settemp,t1)
        const slope=document.getElementById('slope').value;
        const ps=document.getElementById('pshift').value;
        const amp=document.getElementById('hcamp').value;
        const heatcurve = Math.round(((0.55*slope*t2)*(((-element+20)*2)+settemp+ps)+((settemp-insidetemp)*amp))*2)/2
                data.push(heatcurve);
                }
myChart.data.datasets[0].data = data;
myChart.update();
console.log("update");
	}
</script>

{% endblock %}