{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block custom_scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Some basic CSS styles for the template */
        p {
                margin: 0px;
        }
        h1 {
            color: #333;
        }
        .journal-entry {
            background-color: #cde8cd;
            margin-bottom: 5px;
            transition: background-color 0.5s ease-in-out;
        }
        .journal-entry.fadeout {
            background-color: transparent;
            transition: background-color 5s ease-in-out;
        }
	.disableddiv {
    	    pointer-events: none;
    	    opacity: 0.4;
	}
    </style>
				    <script>
			    function outsidetempselect() {
				var actualoutsidetemp=$("#outsidetemp option:selected").val();
					switch(actualoutsidetemp) {
						case "openmeteo":
							$("#divomlat").removeClass("disableddiv");
							$("#divomlon").removeClass("disableddiv");
							$("#divomtown").removeClass("disableddiv");
							break;
						default:
							$("#divomlat").addClass("disableddiv");
                                                	$("#divomlon").addClass("disableddiv");
                                                	$("#divomtown").addClass("disableddiv");
					}
			}
			    function hcurve_change(){
					var actualhcurve=$("#heatingcurve option:selected").val();
								console.log(actualhcurve);
					switch(actualhcurve) {
						case "auto":
                                                        $("#divhcmanual").addClass("disableddiv");
                                                        $("#divslope").removeClass("disableddiv");
                                                        $("#divpshift").removeClass("disableddiv");
                                                        $("#divhcamp").removeClass("disableddiv");
							break;
						case "static":
                                                        $("#divhcmanual").addClass("disableddiv");
                                                        $("#divslope").removeClass("disableddiv");
                                                        $("#divpshift").addClass("disableddiv");
                                                        $("#divhcamp").addClass("disableddiv");
							break;
						case "manual":
                                                        $("#divhcmanual").removeClass("disableddiv");
                                                        $("#divslope").addClass("disableddiv");
                                                        $("#divpshift").addClass("disableddiv");
                                                        $("#divhcamp").addClass("disableddiv");
							break;
						case "directly":
                                                        $("#divhcmanual").addClass("disableddiv");
                                                        $("#divslope").addClass("disableddiv");
                                                        $("#divpshift").addClass("disableddiv");
                                                        $("#divhcamp").addClass("disableddiv");
							break;
						default:
                                                        $("#divhcmanual").removeClass("disableddiv");
                                                        $("#divslope").removeClass("disableddiv");
                                                        $("#divpshift").removeClass("disableddiv");
                                                        $("#divhcamp").removeClass("disableddiv");


					}
			    }
			    function city_select() {
				const latlon=$("#citysearch").val().split(';')
				console.log(latlon)
				$("#latitude").val(latlon[0])
                                $("#longitude").val(latlon[1])

							}
			    function city_search() {
				var name = $("#citysearch").val()
				var curloc = navigator.languages[1];
				console.log(name)
				$.get('https://geocoding-api.open-meteo.com/v1/search?name='+name+'&count=10&language='+curloc+'&format=json', function(data) {
				console.log(data.results)
				                                        $('#foundcity').empty();
				for (let i in data.results) {
					$('#foundcity').append("<option value='"+data.results[i].latitude+";"+data.results[i].longitude+"'>"+data.results[i].name+", "+data.results[i].country+"");
  					console.log(data.results[i].name);
					console.log(data.results[i].country);
				}
                                //        if ( data.output == 'active' ) {
                                //$('#startlogbutton').text("Stop logging")
                                //$('#startlogbutton').attr("onclick", "start_log('stop')")
                                //                } else {
                                //$('#startlogbutton').text("Start logging")
                                //$('#startlogbutton').attr("onclick", "start_log('restart')")                                        }
							   
                                                       })
							}
			    function manual_hcurve(){
				$('#hcman').val($('#hcmn20').val() + ',' + $('#hcmn15').val() + ',' + $('#hcmn10').val() + ',' + $('#hcmn5').val() + ',' + $('#hcm0').val() + ',' + $('#hcmp5').val() + ',' + $('#hcmp10').val() + ',' + $('#hcmp15').val())
							}
			    function download_log(){
				const blob= new Blob([$('#journal')[0].innerText],{type: 'text/plain'});
				const fileUrl = URL.createObjectURL(blob);
				const link = document.createElement('a');
				link.download = 'journal.txt';
				link.href=fileUrl;
				link.click();
				}
			   function start_log(action) {
				$.post('/logdaemon', {action: action}, function(data) {
					if ( data.output == 'active' ) {
				$('#startlogbutton').text("Stop logging")
				$('#startlogbutton').attr("onclick", "start_log('stop')")
						} else {
				$('#startlogbutton').text("Start logging")
				$('#startlogbutton').attr("onclick", "start_log('restart')")					    }
						       })
						       }
		    </script>
				    <script>
//			form.addEventListener('submit', () => {
//    			if(document.getElementById("use_mqtt").checked) {
//        			document.getElementById('use_mqtt_hidden').disabled = true;
//			    }
//			})
		    </script>
		    {% if saved == '1' %}
				    <script>
					    function onloadsave() {
let timerInterval
                            Swal.fire({
										html: "{{ _('Changes saved') }}",
                                icon: "success",
                                showCloseButton: false,
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: () => {
                                    const b = Swal.getHtmlContainer().querySelector('b')
                                    timerInterval = setInterval(() => {
                                        b.textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                willClose: () => {
                                    clearInterval(timerInterval)
                                }
                            })

					    }
window.onload = onloadsave;
				    </script>
				    {% endif %}
{% endblock %}
{% block page_body %}
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
	    <h2 class="h3 mb-4 page-title">{{ _('Settings') }}</h2>
        <div class="my-10">
            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-3" id="settings" role="tablist">
                <li class="nav-item" role="presentation">
			<a class="nav-link active" id="settings-general" data-bs-toggle="tab" data-bs-target="#settings-general-tab" role="tab" aria-controls="settings-general-tab" aria-selected="true" href="#settings-general-tab">{{ _('General') }}</a>
                </li>
                <li class="nav-item" role="presentation">
			<a class="nav-link" id="settings-hcurve" data-bs-toggle="tab" data-bs-target="#settings-hcurve-tab" role="tab" aria-controls="settings-hcurve-tab" aria-selected="true" href="#hcurve-general-tab">{{ _('Heating/Cooling') }}</a>
                </li>
                <li class="nav-item" role="presentation">
			<a class="nav-link" id="settings-ha" data-bs-toggle="tab" data-bs-target="#settings-ha-tab" role="tab" aria-controls="settings-ha-tab" aria-selected="false" href="#settings-ha-tab">{{ _('Home Assistant') }}</a>
                </li>
                <li class="nav-item" role="presentation">
			<a class="nav-link" id="settings-mqtt" data-bs-toggle="tab" data-bs-target="#settings-mqtt-tab" role="tab" aria-controls="settings-mqtt-tab" aria-selected="false" href="#settings-mqtt-tab">{{ _('MQTT') }}</a>
                </li>
                <li class="nav-item" role="presentation">
			<a class="nav-link" id="settings-system" data-bs-toggle="tab" data-bs-target="#settings-system-tab" role="tab" aria-controls="settings-system-tab" aria-selected="false" href="#settings-system-tab">{{ _('System') }}</a>
                </li>
                <li class="nav-item" role="presentation">
			<a class="nav-link disabled" id="settings-tuya" data-bs-toggle="tab" data-bs-target="#settings-tuya-tab" role="tab" aria-controls="settings-tuya-tab" aria-selected="false" href="#settings-tuya-tab">{{ _('Tuya') }}</a>
                </li>
                <li class="nav-item" role="presentation">
			<a class="nav-link" id="settings-logs" data-bs-toggle="tab" data-bs-target="#settings-logs-tab" role="tab" aria-controls="settings-logs-tab" aria-selected="false" href="#settings-logs-tab">{{ _('Logs') }}</a>
                </li>

            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="settings-general-tab" role="tabpanel" aria-labelledby="settings-general-tab">
                    <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <form method="POST">
					    <strong class="mb-0">{{ _('Inside temperture sensor') }}</strong>
					    <p class="text-muted mb-0">{{ _('What temperature sensor you using (ha - for home assistant entity, builtin - for physically connect DHT22 sensor') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <select class="form-select" aria-label="insidetemp" name="SETTINGS$insidetemp" value="{{ insidetemp }}">
					    <option value="ha"{% if insidetemp == 'ha' %} selected {% endif %}>{{ _('HA') }}</option>
					    <option value="builtin"{% if insidetemp == 'builtin' %} selected {% endif %}>{{ _('Builtin') }}</option>
                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Outside temperature sensor') }}</strong>
				<p class="text-muted mb-0">{{ _('What temperature sensor you using (ha - for home assistant entity, builtin - for physically connect DS18b20 sensor, Tao - for built-in pump ambient sensor, Open Meteo - for online weather service ( you need to provide the coordinates of your town )') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <select id="outsidetemp" class="form-select" aria-label="outsidetemp" name="SETTINGS$outsidetemp" value="{{ outsidetemp }}" onchange="outsidetempselect()">
					    <option value="ha"{% if outsidetemp == 'ha' %} selected {% endif %}>{{ _('HA') }}</option>
					<option value="builtin"{% if outsidetemp == 'builtin' %} selected {% endif %}>{{ _('Builtin') }}</option>
                                            <option value="tao"{% if insidetemp == 'tao' %} selected {% endif %}>{{ _('Tao') }}</option>
                                            <option value="openmeteo"{% if insidetemp == 'openmeteo' %} selected {% endif %}>{{ _('Open Meteo') }}</option>
                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divomlat" class="list-group-item {% if insidetemp != "openmeteo" %}
                                                        disableddiv
                                                      {% endif %}">
                        <div class="row align-items-center">
                            <div class="col">
                                    <strong class="mb-0">{{ _('Coordinates') }}</strong>
                                    <p class="text-muted mb-0">{{ _('Latitude') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
					<input type="text" class="form-control" id="latitude" name="SETTINGS$omlat" aria-describedby="omlat" value="{{ omlat }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divomlon" class="list-group-item {% if insidetemp != "openmeteo" %}
                                                        disableddiv
                                                      {% endif %}">
                        <div class="row align-items-center">
                            <div class="col">
                                    <strong class="mb-0">{{ _('Coordinates') }}</strong>
                                    <p class="text-muted mb-0">{{ _('Longitude') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
					<input type="text" class="form-control" id="longitude" name="SETTINGS$omlon" aria-describedby="omlon" value="{{ omlon }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divomtown" class="list-group-item {% if insidetemp != "openmeteo" %}
                                                        disableddiv
                                                      {% endif %}">
                        <div class="row align-items-center">
                            <div class="col">
                                    <strong class="mb-0">{{ _('Find coordinates by name') }}</a></strong>
                                    <p class="text-muted mb-0">{{ _('Name the town') }} <a href="https://open-meteo.com/">Weather data by Open-Meteo.com</a></p>
                            </div>
                            <div class="col-auto">
<input class="form-control" list="foundcity" id="citysearch" oninput="city_search()" onchange="city_select()" placeholder="Type to search...">
<datalist id="foundcity">
  <option value="...">
</datalist>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Inside humidity sensor') }}</strong>
				    <p class="text-muted mb-0">{{ _('What humidity sensor you using (ha - for home assistant entity, builtin - for physically connect DHT22 sensor') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <select class="form-select" aria-label="humidity" name="SETTINGS$humidity" value="{{ humidity }}">
					    <option value="ha"{% if humidity == 'ha' %} selected {% endif %}>{{ _('HA') }}</option>
					    <option value="builtin"{% if humidity == 'builtin' %} selected {% endif %}>{{ _('Builtin') }}</option>
                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('AntiON-OFF') }}</strong>
				    <p class="text-muted mb-0">{{ _('A system that try to prevent the heatpump from operating in on-off mode') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
					<input type="hidden" id="antionoff_hidden" value="{{ antionoff }}" name="SETTINGS$antionoff">
                                          <input type="checkbox" class="form-check-input" id="antionoff" value="1" onclick="this.previousSibling.previousSibling.value=1-this.previousSibling.previousSibling.value" aria-describedby="antionoff" {%if antionoff == '1' %} checked {% endif %}>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('AntiON-OFF Delta') }}</strong>
				    <p class="text-muted mb-0">{{ _('Temperature delta when function is activate') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="antionoffdelta" name="SETTINGS$antionoffdelta" aria-describedby="antionoffdelta" value="{{ antionoffdelta }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Domestic Hot Water without limit') }}</strong>
				    <p class="text-muted mb-0">{{ _('When heating DHW turn off frequency limit relay') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="hidden" id="dhwwl_hidden" value="{{ dhwwl }}" name="SETTINGS$dhwwl">
                                          <input type="checkbox" class="form-check-input" id="dhwwl" value="1" onclick="this.previousSibling.previousSibling.value=1-this.previousSibling.previousSibling.value" aria-describedby="dhwwl" {%if dhwwl == '1' %} checked {% endif %}>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Use Central Heating scheduler') }}</strong>
                                <p class="text-muted mb-0">{{ _('Do you want to use CH scheduler? Default: No')}}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
					<input type="hidden" id="chscheduler_hidden" value="{{ chscheduler }}" name="SETTINGS$chscheduler">
                                          <input type="checkbox" class="form-check-input" id="chscheduler" value="1" onclick="this.previousSibling.previousSibling.value=1-this.previousSibling.previousSibling.value" aria-describedby="chscheduler" {%if chscheduler == '1' %} checked {% endif %}>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Use Domestic Hot Water scheduler') }}</strong>
				    <p class="text-muted mb-0">{{ _('Do you want to use DHW scheduler? Default: NO') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="hidden" id="dhwscheduler_hidden" value="{{ dhwscheduler }}" name="SETTINGS$dhwscheduler">
                                          <input type="checkbox" class="form-check-input" id="dhwscheduler" value="1" onclick="this.previousSibling.previousSibling.value=1-this.previousSibling.previousSibling.value" aria-describedby="dhwscheduler" {%if dhwscheduler == '1' %} checked {% endif %}>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <button type="submit" class="btn btn-primary">{{ _('Save') }}</button></form>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings-hcurve-tab" role="tabpanel" aria-labelledby="settings-hcurve-tab">
                    <div class="list-group mb-5 shadow">
		    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Frequency limit') }}</strong>
				<p class="text-muted mb-0">{{ _('automatic of manual frequency limit relay control') }}</p>
                            </div>
                            <div class="col-auto">
				    <div class="custom-control custom-switch"><form method="POST">
						    <select class="form-select" aria-label="flimit" name="SETTINGS$flimit" value=" {{ flimit }}">
							    <option value="auto" {% if flimit == 'auto' %} selected {% endif %}>{{ _('Auto') }}</option>
							    <option value="manual" {% if flimit == 'manual' %} selected {% endif %}>{{ _('Manual') }}</option>

                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Frequency limit temperature') }}</strong>
				    <p class="text-muted mb-0">{{ _('In auto mode - temperature above which the frequency limitation will be activated') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
					<input type="number" class="form-control" id="flimittemp" name="SETTINGS$flimittemp" aria-describedby="flimittemp" value="{{ flimittemp }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Preset change') }}</strong>
				    <p class="text-muted mb-0">{{ _('automatic of manual frequency limit relay control') }}</p>
                            </div>
                            <div class="col-auto">
				    <div class="custom-control custom-switch">
						    <select class="form-select" aria-label="presetautochange" name="SETTINGS$presetautochange" value="{{ presetautochange }}">
							    <option value="auto" {% if presetautochange == 'auto' %} selected {% endif %}>{{ _('Auto') }}</option>
							    <option value="manual" {% if presetautochange == 'manual' %} selected {% endif %}>{{ _('Manual') }}</option>

                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Preset quiet temperature') }}</strong>
				    <p class="text-muted mb-0">{{ _('In auto mode - temperature above which the frequency limitation will be activated') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="number" class="form-control" id="presetquiet" name="SETTINGS$presetquiet" aria-describedby="presetquiet" value="{{ presetquiet }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Preset turbo temperature') }}</strong>
				    <p class="text-muted mb-0">{{ _('In auto mode - temperature above which the frequency limitation will be activated') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="number" class="form-control" id="presetturbo" name="SETTINGS$presetturbo" aria-describedby="presetturbo" value="{{ presetturbo }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Heating curve type') }}</strong>
				    <p class="text-muted mb-0">{{ _('What type of curve you want to use') }}</p>
                            </div>
                            <div class="col-auto">
				    <div class="custom-control custom-switch">
                                    <select class="form-select" aria-label="heatingcurve" name="SETTINGS$heatingcurve" id="heatingcurve" onchange="hcurve_change()" value="{{ heatingcurve }}">
					    <option value="auto" {% if heatingcurve == 'auto' %} selected {% endif %}>{{ _('Auto') }}</option>
					    <option value="static" {% if heatingcurve == 'static' %} selected {% endif %}>{{ _('Static') }}</option>
					    <option value="manual" {% if heatingcurve == 'manual' %} selected {% endif %}>{{ _('Manual') }}</option>
					    <option value="directly" {% if heatingcurve == 'directly' %} selected {% endif %}>{{ _('Directly') }}</option>
                                    </select>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Heating curve calculation frequency (requires a service restart)') }}</strong>
				    <p class="text-muted mb-0">{{ _('Frequency in minutes how often heating curve should be recalculate') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="timeout" name="MAIN$heizfreq" aria-describedby="timeout" value="{{ timeout }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divslope" class="list-group-item {% if heatingcurve == "auto" or
			    			      heatingcurve == "static" %}
							NONE
						      {% else %}
						      disableddiv
						      {% endif %}">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Heating curve slope') }}</strong>
				    <p class="text-muted mb-0">{{ _('heating curve slope for Auto and Static modes') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="slope" name="SETTINGS$hcslope" aria-describedby="slope" step="0.01" onchange="recalc()" value="{{ slope }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div id="divpshift" class="list-group-item {% if heatingcurve != 'auto' %} disableddiv {% endif %}">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Heating curve parallel shift') }}</strong>
				    <p class="text-muted mb-0">{{ _('Heating curve parallel shift') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="pshift" name="SETTINGS$hcpshift" aria-describedby="pshift" step="0.1" onchange="recalc()" value="{{ pshift }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divhcamp" class="list-group-item {% if heatingcurve != 'auto' %} disableddiv {% endif %}">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Heating curve amplification') }}</strong>
				    <p class="text-muted mb-0">{{ _('Heating curve amplification') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="number" class="form-control" id="hcamp" name="SETTINGS$hcamp" aria-describedby="hcamp" step="0.1" onchange="recalc()" value="{{ hcamp }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divhcmanual" class="list-group-item {% if heatingcurve != 'manual' %} disableddiv {% endif %}">
                        <div class="row align-items-center">
                            <div class="col">
                                    <strong class="mb-0">{{ _('Water temperatures for manual heating curve') }}</strong>
                                    <p class="text-muted mb-0">{{ _('Water temperature for specific outside temp.') }}</p>
				    <p class="mb-0"><table class="table">
  <thead>
    <tr>
      <th scope="col">-20</th>
      <th scope="col">-15</th>
      <th scope="col">-10</th>
      <th scope="col">-5</th>
      <th scope="col">0</th>
      <th scope="col">5</th>
      <th scope="col">10</th>
      <th scope="col">15</th>

    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td><input type="number" class="form-control" id="hcmn20" aria-describedby="hcmn20" step="0.5" onchange="manual_hcurve()" value="{{ hcman[0] }}"></td>
      <td><input type="number" class="form-control" id="hcmn15" aria-describedby="hcm15" step="0.5" onchange="manual_hcurve()" value="{{ hcman[1] }}"></td>
      <td><input type="number" class="form-control" id="hcmn10" aria-describedby="hcmn10" step="0.5" onchange="manual_hcurve()" value="{{ hcman[2] }}"></td>
      <td><input type="number" class="form-control" id="hcmn5" aria-describedby="hcmn5" step="0.5" onchange="manual_hcurve()" value="{{ hcman[3] }}"></td>
      <td><input type="number" class="form-control" id="hcm0"  aria-describedby="hcm0" step="0.5" onchange="manual_hcurve()" value="{{ hcman[4] }}"></td>
      <td><input type="number" class="form-control" id="hcmp5" aria-describedby="hcmp5" step="0.5" onchange="manual_hcurve()" value="{{ hcman[5] }}"></td>
      <td><input type="number" class="form-control" id="hcmp10" aria-describedby="hcmp10" step="0.5" onchange="manual_hcurve()" value="{{ hcman[6] }}"></td>
      <td><input type="number" class="form-control" id="hcmp15" aria-describedby="hcmp15" step="0.5" onchange="manual_hcurve()" value="{{ hcman[7] }}"></td>
    </tr>
    <input type="hidden" class="form-control" value="{{ hcman[0] }},{{ hcman[1] }},{{ hcman[2] }},{{ hcman[3] }},{{ hcman[4] }},{{ hcman[5] }},{{ hcman[6] }},{{ hcman[7] }}" id="hcman" name="SETTINGS$hcman" aria-describedby="hcman">
  </tbody>
</table></p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Heating curve chart') }}</strong>
				    <p class="text-muted mb-0">{{ _('Show charts with all cheating curve') }}</p>
                                </div>
                            <div class="col-auto">
				    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#chartdiv" aria-expanded="false" aria-controls="chartdiv">{{ _('Show') }}</button>
                                 </div>
                        <div id="chartdiv" class="collapse">
				<p><label for="tempRange" id="customtemp" class="form-label">{{ _('Inside temp: 21') }}</label></p>
				<input type="range" class="form-range" min="12" max="30" id="tempRange" onchange="recalc();">
                                <canvas id="hcurvechart"></canvas>

                            </div>
                        </div>
                    </div>
		    <button type="submit" class="btn btn-primary">{{ _('Save') }}</button></form>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings-ha-tab" role="tabpanel" aria-labelledby="settings-ha-tab">
                  <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Home Assistant address') }}</strong>
				    <p class="text-muted mb-0">{{ _('Home assistant IP or domainname address') }}</p>
                            </div>
			    <div class="col-auto"><form method="POST">
                                <div class="custom-control custom-switch">
		    <input type="text" class="form-control" id="haaddr" name="HOMEASSISTANT$HAADDR" aria-describedby="haaddr" value="{{ haaddr }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
				<strong class="mb-0">{{ _('Home Assistant port') }}</strong>
				<p class="text-muted mb-0">{{ _('Home Assistant port (default 8123)') }}</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                    <input type="text" class="form-control" id="haport" name="HOMEASSISTANT$HAPORT" aria-describedby="haport" value="{{ haport }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
				<strong class="mb-0">{{ _('Home Assistant Access Key') }}</strong>
				<p class="text-muted mb-0">{{ _('Home Assistant Access Token Key. You can generate key in user settings in HA') }}</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                    <input type="password" class="form-control" id="hakey" name="HOMEASSISTANT$KEY" aria-describedby="hakey" value="{{ hakey }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
		<div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <strong class="mb-0">{{ _('Use MQTT discovery') }}</strong>
                            <p class="text-muted mb-0">{{ _('Automatic device discovery in Home Assistant') }}</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                <input type="hidden" id="ha_mqtt_discovery_hidden" value="{{ ha_mqtt_discovery }}" name="HOMEASSISTANT$ha_mqtt_discovery">
                                <input type="checkbox" class="form-check-input" id="ha_mqtt_discovery" value="1" onclick="this.previousSibling.previousSibling.value=1-this.previousSibling.previousSibling.value" aria-describedby="ha_mqtt_discovery" {%if ha_mqtt_discovery == '1' %} checked {% endif %}>
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
				<strong class="mb-0">{{ _('Inside temperature entity') }}</strong>
				<p class="text-muted mb-0">{{ _('Entity name of inside temperature sensor (e.g. sensor.inside_temp)') }}</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="insidesensor" name="HOMEASSISTANT$insidesensor" aria-describedby="insidesensor" value="{{ insidesensor }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
				<strong class="mb-0">{{ _('Outside temperature entity') }}</strong>
				<p class="text-muted mb-0">{{ _('Entity name of outside temperature sensor (e.g. sensor.outside_temp)') }}</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="outsidesensor" name="HOMEASSISTANT$outsidesensor" aria-describedby="outsidesensor" value="{{ outsidesensor }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
				<strong class="mb-0">{{ _('Inside humidity entity') }}</strong>
				<p class="text-muted mb-0">{{ _('Entity name of inside humidity sensor (e.g. sensor.inside_humidity)') }}</p>
                        </div>
                        <div class="col-auto">
                            <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="humiditysensor" name="HOMEASSISTANT$humiditysensor" aria-describedby="humiditysensor" value="{{ humiditysensor }}">
                                <span class="custom-control-label"></span>
                            </div>
                        </div>
                    </div>
		</div><button type="submit" class="btn btn-primary">{{ _('Save') }}</button></form>
            </div>
              </div>
                <div class="tab-pane fade" id="settings-mqtt-tab" role="tabpanel" aria-labelledby="settings-mqtt-tab">
                    <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Using MQTT') }}</strong>
				    <p class="text-muted mb-0">{{ _('Do you want to use mqtt') }}</p>
                            </div>
                            <div class="col-auto">
				    <div class="custom-control custom-switch"><form method="POST">
						    <input type="hidden" id="use_mqtt_hidden" value="{{ use_mqtt }}" name="MQTT$mqtt">
					  <input type="checkbox" class="form-check-input" id="use_mqtt" value="1" onclick="this.previousSibling.previousSibling.value=1-this.previousSibling.previousSibling.value" aria-describedby="use_mqtt" {%if use_mqtt == '1' %} checked {% endif %}>
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('MQTT Address') }}</strong>
				    <p class="text-muted mb-0">{{ _('MQTT Broker ip or hostname address') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="curol custom-switch">
                                    <input type="text" class="form-control" id="mqtt_broker_addr" name="MQTT$address" aria-describedby="mqtt_broker_addr" value="{{ mqtt_broker_addr }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('MQTT port') }}</strong>
				    <p class="text-muted mb-0">{{ _('MQTT Broker port (default 1883)') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="mqtt_broker_port" name="MQTT$port" aria-describedby="mqtt_broker_port" value="{{ mqtt_broker_port }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Main topic') }}</strong>
				    <p class="text-muted mb-0">{{ _('Main topic for publishing messages') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="mqtt_topic" name="MQTT$main_topic" aria-describedby="mqtt_topic" value="{{ mqtt_topic }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Username') }}</strong>
				<p class="text-muted mb-0">{{ _('MQTT Broker account username') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="mqtt_username" name="MQTT$username" aria-describedby="mqtt_username" value="{{ mqtt_username }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Password') }}</strong>
				    <p class="text-muted mb-0">{{ _('MQTT Broker account password') }}</p>
                            </div>
                                <div class="col-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="password" class="form-control" id="mqtt_password" name="MQTT$password" aria-describedby="mqtt_password" value="{{ mqtt_password }}">
                                        <span class="custom-control-label"></span>
                                    </div>
                                </div>
                            </div>
		    </div><button type="submit" class="btn btn-primary">{{ _('Save') }}</button></form>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings-system-tab" role="tabpanel" aria-labelledby="settings-system-tab">
                <div class="list-group mb-5 shadow">
                    <div class="list-group-item">
                        <div class="row align-items-center">
				<div class="col"><form method="POST">
						<strong class="mb-0">{{ _('Bind address') }}</strong>
						<p class="text-muted mb-0">{{ _('On which address the script should run (default 0.0.0.0)') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="bindaddr" name="MAIN$bindaddress" aria-describedby="bindaddr" value="{{ bindaddr }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Bind port') }}</strong>
				    <p class="text-muted mb-0">{{ _('On which port the script should run (default 4000)') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="bindport" name="MAIN$bindport" aria-describedby="bindport" value="{{ bindport }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>                 </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Serial port') }}</strong>
				    <p class="text-muted mb-0">{{ _('On which port you connect modbus converter') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="text" class="form-control" id="modbusdev" name="MAIN$modbusdev" aria-describedby="modbusdev" value="{{ modbusdev }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Modbus GPIO') }}</strong>
				    <p class="text-muted mb-0">{{ _('What GPIO pin use for modbus relay') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="modbuspin" name="GPIO$modbus" aria-describedby="modbuspin" value="{{ modbuspin }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Frequency limit GPIO') }}</strong>
				    <p class="text-muted mb-0">{{ _('What GPIO pin you use for frequency limit relay') }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="freqlimitpin" name="GPIO$freqlimit" aria-describedby="freqlimitpin" value="{{ freqlimitpin }}">
                                    <span class="custom-control-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Heat demand GPIO') }}</strong>
				    <p class="text-muted mb-0">{{ _('What GPIO pin you use for heat demand relay') }}</p>
                            </div>
                                <div class="col-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="heatdemandpin" name="GPIO$heatdemand" aria-describedby="heatdemandpin" value="{{ heatdemandpin }}">
                                        <span class="custom-control-label"></span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="list-group-item">
                     <div class="row align-items-center">
                            <div class="col">
				    <strong class="mb-0">{{ _('Cool demand GPIO') }}</strong>
				    <p class="text-muted mb-0">{{ _('What GPIO pin you use for cool demand relay') }}</p>
                            </div>
                                <div class="col-auto">
                                    <div class="custom-control custom-switch">
                                        <input type="text" class="form-control" id="cooldemandpin" name="GPIO$cooldemand" aria-describedby="cooldemandpin" value="{{ cooldemandpin }}">
                                        <span class="custom-control-label"></span>
                                    </div>
                                </div>
                            </div>
		    </div><button type="submit" class="btn btn-primary">{{ _('Save') }}</button></form>
                    </div>
                </div>
                <div class="tab-pane fade" id="settings-logs-tab" role="tabpanel" aria-labelledby="settings-logs-tab">
                    <div class="list-group mb-5 sha                    <div class="list-group-item">
                        <div class="row align-items-center" id="journal">

			</div>
                        <script>
        var journalDiv = document.getElementById('journal');
				var eventSource = new EventSource(window.location.origin+":5000/stream");

        eventSource.onmessage = function(event) {
            var line = document.createElement('p');
            line.className = 'journal-entry';
            line.innerHTML = event.data;
            journalDiv.appendChild(line);

            setTimeout(function() {
                line.classList.add('fadeout');
            }, 2000);
        };
    </script>

			    </div><div class="btn-group" role="group"><button id="startlogbutton" onclick="start_log('restart');" class="btn btn-outline-primary">{{ _('Start logging') }}</button><button onclick="download_log();" class="btn btn-outline-primary">{{ _('Save to file') }}</button> </div>
                    </div>
                </div>

              </div>
            </div>
        </div>
    </div>

</div>
       <script>
    jQuery(document).ready(function ($) {
    const hash=window.location.hash;
     const bsTab = new bootstrap.Tab(hash);
     bsTab.show();
    })
       </script>
<script>
var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];
/* large line chart */
var chLine = document.getElementById('hcurvechart');
var settemp = {{ settemp }};
var insidetemp = document.getElementById("tempRange").value;
var outsidetemp = {{ outtemp }};

var labels = ["-20", "-19", "-18", "-17", "-16", "-15", "-14", "-13", "-12","-11","-10","-9","-8","-7","-6","-5","-4","-3","-2","-1","0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20"];
var data = [];
for (const element of labels) {
	const t1=(outsidetemp/(320-(outsidetemp*4)))
        const t2=Math.pow(settemp,t1)
		const slope= {{ slope }}
		const ps= {{ pshift }}
		const amp= {{ hcamp }}
        const heatcurve = Math.round((((0.55*slope*t2)*(((-element+20)*2)+settemp+ps)+((settemp-insidetemp)*amp)+ps))*2)/2
		        console.log(element);
        console.log(t1);
        console.log(t2);
        console.log(slope);
        console.log(ps);
        console.log(amp);
	console.log(heatcurve);
		data.push(heatcurve);
		}
var data1 = [];
for (const element of labels) {
	const slope={{ slope }}
	calc=(settemp+(slope*20)*Math.pow(((settemp-element)/20), 0.7));
	data1.push(calc);
}

var chartData = {
  labels: labels,
  datasets: [{
    label: "Auto",
    data: data,
    backgroundColor: 'transparent',
    borderColor: colors[0],
    borderWidth: 4,
    pointBackgroundColor: colors[0]
  },
   {
     label: "static",
     data: data1,
     backgroundColor: 'transparent',
     borderColor: colors[1],
     borderWidth: 4,
     pointBackgroundColor: colors[1]
   }

  ]
};
if (chLine) {
  var myChart = new Chart(chLine, {
  type: 'line',
  data: chartData,
  options: {
    scales: {
      xAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false
    },
    responsive: true
  }
  });
}

function recalc() {
var insidetemp = document.getElementById("tempRange").value;
var outsidetemp = {{ outtemp }};
document.getElementById("customtemp").innerHTML="Inside temp: "+insidetemp;
var data = [];
for (const element of labels) {
        const t1=(outsidetemp/(320-(outsidetemp*4)))
        const t2=Math.pow(settemp,t1)

        const slope=parseFloat(document.getElementById('slope').value);
        const ps=parseFloat(document.getElementById('pshift').value);
        const amp=parseFloat(document.getElementById('hcamp').value);
	console.log(element);
	console.log(t1);
        console.log(t2);
	console.log(outsidetemp)
        console.log(slope);
        console.log(ps);
        console.log(amp);
	const heat2 = ((0.55*slope*t2)*(((-element+20)*2)+settemp+ps)+((settemp-insidetemp)*amp))
	//console.log(heat2)
        // const heatcurve = (Math.round((((0.55*slope*t2)*((((-element+20)*2)+settemp)+ps)+((settemp-insidetemp)*amp)+ps))*2)/2)
	const heatcurve = (((0.55*slope*t2)*((((-element+20)*2)+settemp)+ps)+((settemp-insidetemp)*amp)+ps))
                data.push(heatcurve);
	console.log(heatcurve);
                }
var data1 = [];
for (const element of labels) {
        const slope=parseFloat(document.getElementById('slope').value);
        calc=(settemp+(slope*20)*Math.pow(((settemp-element)/20), 0.7));
        data1.push(calc);
}
myChart.data.datasets[0].data = data;
myChart.data.datasets[1].data = data1;
myChart.update();
console.log("update");
	}
</script>

{% endblock %}
