[Unit]
Description=Update Haier Service
After=local-fs.target
After=network.target

[Service]
ExecStart=/opt/haier/env/bin/python /opt/haier/update.py
RemainAfterExit=true
Type=oneshot
WorkingDirectory=/opt/haier/



[Install]
WantedBy=multi-user.target